*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
}

/* #cuadro1{
    width: 100%;
    height: 100vh;
    background-color: red;
}
#cuadro2{
    width: 100%;
    height: 100vh;
    background-color: blue;
}
#cuadro3{
    width: 100%;
    height: 100vh;
    background-color: green;
}
#cuadro4{
    width: 100%;
    height: 100vh;
    background-color: yellow;
}
#cuadro5{
    width: 100%;
    height: 100vh;
    background-color: orange; */
/* } */
header{
    width: 20%;
    height: 100%;
    background-color: black;
    /* Agregar para ajustar a modo de grids */

}
nav{
    width: 20%;
    height: 100%;
    background-color: green;
    /* Agregar para ajustar a modo de grids */
}
main{
    width: 20%;
    height: 100%;
    background-color: white;
    /* Agregar para ajustar a modo de grids */
}
aside{
    width: 20%;
    height: 100%;
    background-color: gray;
    /* Agregar para ajustar a modo de grids */
}
footer{
    width: 20%;
    height: 100%;
    background-color: purple;
    /* Agregar para ajustar a modo de grids */
}
