*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}

header{
    background-color: rgb(1, 38, 48);
    display: flex;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100%;        
}